.instagramSVG {
    cursor: pointer;
}

.instagramSVG svg path {
    fill: var(--mat-sys-background);
    transition: fill 0.3s ease;
}

.instagramSVG svg path:nth-child(1), .instagramSVG svg path:nth-child(3) {
    fill: var(--mat-sys-primary);
    transition: fill 0.3s ease;
}

.instagramSVG:hover svg path:nth-child(1), .instagramSVG:hover svg path:nth-child(3) {
    fill: var(--mat-sys-tertiary);
}