.global-loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background: var(--mat-app-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }