:host {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-bottom: var(--cookies-height);
    transition: var(--cookie-transition);
}