@if (showNotFound) {
<div class="game-not-found" @fadeInOut>
    <div class="game-not-found-icon">
        <app-icon icon="error_outline" size="45px" class="mb-5"></app-icon>
    </div>
    <h1>{{ "GAME.GAME_NOT_FOUND" | translate }}</h1>
    <p>{{ "GAME.GAME_NOT_FOUND_DESC" | translate }}</p>
    <app-loading-button variant="icon" (buttonClicked)="goBack()" [tooltip]="'GO_BACK' | translate">
        <app-icon icon="arrow_back"></app-icon>
    </app-loading-button>
</div>
} @else {
@if (threeD) {
<app-board3d [board]="board" (movedPiece)="movedPiece($event)" [playerColor]="getPlayerColor()" [rotated]="rotated"
    [isPlaying]="isPlaying"></app-board3d>
}
<div #upperSection class="width-limit before-board transparent-container transparent-top"
    [ngClass]="{'has-border': threeD, 'stretch': isHandset$ | async}">
    @if (!(isHandset$ | async)) {
    <div class="transparent">
        <div class="lower">
            <div class="controls">
                <ng-container *ngTemplateOutlet="controls"></ng-container>
            </div>
            <div class="player-container">
                <ng-container *ngTemplateOutlet="playerUpper"></ng-container>
            </div>
        </div>
        <app-move-history [game]="gameEnsured"></app-move-history>
    </div>
    }
</div>
<div class="board-placeholder has-border"
    [ngClass]="{'space-out':  threeD, 'margin': (showLabelPosition && !(isHandset$ | async))}">
    @if (isHandset$ | async) {
    <div class="player-container upper transparent">
        <ng-container *ngTemplateOutlet="playerUpper"></ng-container>
        <div class="controls">
            <ng-container *ngTemplateOutlet="controls"></ng-container>
        </div>
    </div>
    <div class="player-container bottom transparent">
        <div class="controls">
            <ng-container *ngTemplateOutlet="controls2"></ng-container>
        </div>
        <ng-container *ngTemplateOutlet="playerLower"></ng-container>
    </div>
    <app-move-history [game]="gameEnsured" [stacked]="true"></app-move-history>
    }
    @if (!threeD) {
    <app-board [board]="board" (movedPiece)="movedPiece($event)" [playerColor]="getPlayerColor()" [rotated]="rotated"
        [labelPosition]="getLabelPosition()" [isPlaying]="isPlaying"
        [isTurn]="(getPlayerTurn()?.id === (user$ | async)?.id) && this.gameReady" [moves]="gameEnsured.moves"
        [bestMove]="bestMove" @fadeInOut [ngClass]="{'side-ways': (isHandset$ | async)}"></app-board>
    }
</div>
<div #lowerSection class="width-limit before-board transparent-container transparent-bottom"
    [ngClass]="{'has-border': threeD, 'stretch': isHandset$ | async}">
    @if (!(isHandset$ | async)) {
    <div class="transparent">
        <div class="lower">
            <div class="controls">
                <ng-container *ngTemplateOutlet="controls2"></ng-container>
            </div>
            <div class="player-container">
                <ng-container *ngTemplateOutlet="playerLower"></ng-container>
            </div>
        </div>
    </div>
    }
</div>
}

<ng-template #playerActions>
    <app-loading-button variant="icon" (buttonClicked)="resign()" [loading]="loadingResignation" [tooltip]="'GAME.RESIGN.RESIGN' | translate"
        @fadeInOut>
        <app-icon icon="flag_2"></app-icon>
    </app-loading-button>
    <div class="player-action-container" [ngClass]="{'expanded': drawOffered || loadingDraw}">
        @if (drawOffered) {
        <app-loading-button variant="icon" (buttonClicked)="offerDraw()" [loading]="loadingDraw" [tooltip]="'GAME.DRAW.ACCEPT' | translate"
            @fadeInOut>
            <app-icon icon="check"></app-icon>
        </app-loading-button>
        <app-loading-button variant="icon" (buttonClicked)="cancelDraw()" [loading]="loadingDrawCancel"
            [tooltip]="'GAME.DRAW.DECLINE' | translate" @fadeInOut @slideLeftRight>
            <app-icon icon="close"></app-icon>
        </app-loading-button>
        } @else {
        <app-loading-button variant="icon" (buttonClicked)="offerDraw()" [loading]="loadingDraw" [tooltip]="'GAME.DRAW.OFFER' | translate"
            [loadingTooltip]="'GAME.DRAW.OFFERED' | translate" @fadeInOut>
            <app-icon icon="handshake"></app-icon>
        </app-loading-button>
        @if (loadingDraw) {
        <app-loading-button variant="icon" (buttonClicked)="cancelDraw()" [loading]="loadingDrawCancel"
            [tooltip]="'GAME.DRAW.CANCEL' | translate" @fadeInOut @slideLeftRight>
            <app-icon icon="close"></app-icon>
        </app-loading-button>
        }
        }
    </div>
</ng-template>

<ng-template #controls>
    @if (isPlaying) {
    <ng-container *ngTemplateOutlet="playerActions"></ng-container>
    }
    <app-loading-button variant="icon" (buttonClicked)="getBestMove()" [loading]="loadingBestMove"
        [tooltip]="'GAME.GET_BEST_MOVE' | translate" @fadeInOut>
        <app-icon icon="auto_awesome"></app-icon>
    </app-loading-button>
</ng-template>

<ng-template #controls2>
    @if (showLabelPosition && !(isHandset$ | async)) {
    <mat-checkbox class="label-position" [checked]="getLabelPosition() === 'outside'"
        (change)="changeLabelPosition($event.checked)" @fadeInOut>
        <span>{{ 'GAME.LABELS_OUTSIDE' | translate }}</span>
    </mat-checkbox>
    }
    <mat-checkbox class="rotate-board" [(ngModel)]="rotated">
        <app-icon icon="rotate_right" [tooltip]="'GAME.ROTATE_BOARD' | translate"></app-icon>
    </mat-checkbox>
    <mat-checkbox class="3D" [(ngModel)]="threeD">
        <span>{{ 'GAME.3D' | translate }}</span>
    </mat-checkbox>
</ng-template>

<ng-template #playerUpper>
    @if (gameEnsured.player1 && gameEnsured.player2) {
    @if (rotated) {
    <app-player [player]="gameEnsured.player1" [playerTurn]="getPlayerTurn()" [active]="isPlaying"></app-player>
    } @else {
    <app-player [player]="gameEnsured.player2" [playerTurn]="getPlayerTurn()" [active]="isPlaying"></app-player>
    }
    }
</ng-template>

<ng-template #playerLower>
    @if (gameEnsured.player1 && gameEnsured.player2) {
    @if (rotated) {
    <app-player [player]="gameEnsured.player2" [playerTurn]="getPlayerTurn()" [active]="isPlaying"></app-player>
    } @else {
    <app-player [player]="gameEnsured.player1" [playerTurn]="getPlayerTurn()" [active]="isPlaying"></app-player>
    }
    }
</ng-template>