<div class="game-container">
    @if (threeD) {
    <app-board3d [board]="board" (movedPiece)="movedPiece($event)" [playerColor]="getPlayerColor()" [rotated]="rotated"
        [isPlaying]="isPlaying"></app-board3d>
    }
    <div #upperSection class="width-limit before-board transparent-container transparent-top"
        [ngClass]="{'has-border': threeD}">
        <div class="transparent">
            <div class="lower">
                @if (isPlaying) {
                <app-loading-button variant="icon" (click)="resign()" [loading]="loadingResignation" tooltip="Resign"
                    @fadeInOut>
                    <app-icon icon="flag_2"></app-icon>
                </app-loading-button>
                }
                <div class="player-container">
                    @if (rotated) {
                    <app-player [player]="game.player1" [playerTurn]="getPlayerTurn()" [active]="isPlaying"></app-player>
                    } @else {
                    <app-player [player]="game.player2" [playerTurn]="getPlayerTurn()" [active]="isPlaying"></app-player>
                    }
                </div>
            </div>
            <app-move-history [game]="game"></app-move-history>
        </div>
    </div>
    @if (threeD) {
    <div class="board-placeholder"></div>
    }@else {
    <app-board [board]="board" (movedPiece)="movedPiece($event)" [playerColor]="getPlayerColor()" [rotated]="rotated"
        [labelPosition]="labelPosition" [isPlaying]="isPlaying" [isTurn]="getPlayerTurn()?.id === user?.id"
        [moves]="game.moves"></app-board>
    }
    <div #lowerSection class="width-limit before-board transparent-container transparent-bottom"
        [ngClass]="{'has-border': threeD}">
        <div class="transparent">
            <div class="lower">
                <div class="controls">
                    <mat-checkbox class="label-position" [checked]="labelPosition === 'outside'"
                        (change)="changeLabelPosition($event.checked)">
                        <span>Labels outside</span>
                    </mat-checkbox>
                    <mat-checkbox class="rotate-board" [(ngModel)]="rotated">
                        <span>Rotate board</span>
                    </mat-checkbox>
                    @if (user?.role === 'ADMIN') {
                    <mat-checkbox class="3D" [(ngModel)]="threeD">
                        <span>3D</span>
                    </mat-checkbox>
                    }
                </div>
                <div class="player-container">
                    @if (rotated) {
                    <app-player [player]="game.player2" [playerTurn]="getPlayerTurn()" [active]="isPlaying"></app-player>
                    } @else {
                    <app-player [player]="game.player1" [playerTurn]="getPlayerTurn()" [active]="isPlaying"></app-player>
                    }
                </div>
            </div>
        </div>
    </div>
</div>