:host {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-bottom: var(--cookies-height);
    transition: var(--cookie-transition);

    --top-section-height: 0px;
    --bottom-section-height: 0px;

    --board-height: min(100vh - 250px, 80vw);
}

.width-limit {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: max(var(--board-height), min(80vw, 500px));
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.game-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board-placeholder {
    display: block;
    aspect-ratio: 1 / 1;
    height: 100%;
    max-height: var(--board-height);
    position: relative;
    margin-bottom: 1.5em;
    pointer-events: none;
}

.transparent-container {
    display: flex;
    transition: flex-grow 0.7s ease-in-out;

    --spacing: 15px;
}

.transparent-top {
    align-items: start;
}

.transparent-top {
    padding-top: var(--spacing);
}

.transparent-bottom {
    align-items: end;
}

.transparent-bottom {
    padding-bottom: var(--spacing);
}

.transparent {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.transparent > * {
    position: relative;
}

.transparent::before {
    content: '';
    position: absolute;
    inset: -5px;
    border-radius: 10px;
    pointer-events: none;
}

.transparent-top .transparent::before {
    top: calc(var(--spacing) * -1);
    bottom: 0;
}

.transparent-bottom .transparent::before {
    bottom: calc(var(--spacing) * -1);
}

.has-border .transparent::before {
    backdrop-filter: blur(5px);
}

.has-border {
    flex-grow: 1;
}

.player-container {
    margin-left: auto;
    margin-right: 0;
}

.lower {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}