<mat-form-field [appearance]="appearance" class="full-width">
    <mat-label>
        <ng-content select="[label]"></ng-content>
    </mat-label>
  
    <input
      matInput
      [type]="showPassword ? 'text' : 'password'"
      [formControl]="control"
      [autocomplete]="autocomplete"
    />
  
    <button
      mat-icon-button
      matSuffix
      type="button"
      (click)="togglePasswordVisibility()"
      [attr.aria-label]="'Toggle password visibility'"
    >
      <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
  
    <mat-error>
        <ng-content select="[error]"></ng-content>
    </mat-error>
  </mat-form-field>
  