:host {
    display: block;
    aspect-ratio: 1 / 1;
    height: var(--board-height);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.non-interactive {
    pointer-events: none;

    ::ng-deep * {
        pointer-events: none;
    }
}

:host.side-ways {
    left: 55%;
}

.board-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.board {
    height: 100%;
    width: 100%;
    border: 1px solid white;
    display: flex;
    flex-direction: column-reverse;
    position: relative;

    --board-rotation: 0deg;
    --piece-rotation: 0deg;
    --board-rotation-animation: 0.7s ease-in-out;
    
    transform: rotate(var(--board-rotation, 0));

    transition: transform var(--board-rotation-animation, 0.7s ease-in-out);
}

.board.rotated {
    --board-rotation: 180deg;
    --piece-rotation: -180deg;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 12.5%;
}

.pieces {
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.label-container {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    pointer-events: none;
    color: black;

    font-size: min(min(2vh, 2vw), 1em);

    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out, flex-direction 0.2s ease-in-out;
}

.label-container.outside {
    color: var(--mat-sys-on-surface);
}

.label-container.rows-label {
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    flex-direction: column-reverse;
}

.label-container.rows-label.rotated {
    flex-direction: column;
}

.label-container.rows-label.outside {
    transform: translateX(-200%);
}

.label-container.columns-label {
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: row;
}

.label-container.columns-label.rotated {
    flex-direction: row-reverse;
}

.label-container.outside.columns-label.outside {
    transform: translateY(150%);
}

.label {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1em;
}