@if (showCookiesBanner) {
<div class="cookieBanner" @fadeOut>
    <span>
        {{ "COOKIES.BANNER_1" | translate }}<app-link [href]="'/privacy-policy'">{{ "PRIVACY_POLICY" | translate
            }}</app-link>{{ "COOKIES.BANNER_2" | translate }}<app-link [href]="'/settings'">{{ "SETTINGS" | translate
            }}</app-link>{{ "COOKIES.BANNER_3" | translate }}
    </span>
    <div class="flex flex-row buttonWrapper">
        <button mat-flat-button (click)="acceptCookies()">{{ "COOKIES.ACCEPT" | translate }}</button>
        <button mat-stroked-button (click)="acceptFunctionalCookies()">{{ "COOKIES.NECESSARY" | translate }}</button>
    </div>
</div>
}