@if (showCookiesBanner) {
<div class="cookieBanner" @fadeOut>
    <span>
        We use cookies to enhance your experience. By clicking "Accept", you agree to our
        <app-link [href]="'/privacy-policy'">Privacy Policy</app-link>.
        You can manage your cookie preferences in the settings.
    </span>
    <button mat-stroked-button (click)="acceptCookies()">Accept</button>
    <button mat-icon-button aria-label="close banner" (click)="closeBanner()">
        <app-icon icon="close"></app-icon>
    </button>
</div>
}