<div class="dialog-wrapper">
    <div class="dialog-inner">
        <div class="dialog-header">
            <h2 mat-dialog-title>{{ isLogin ? 'Login' : 'Sign up' }}</h2>
            <button mat-button type="button" (click)="toggleLoginSignup()" [disabled]="loading">{{ isLogin ? 'Sign up' :
                'Login' }}</button>
        </div>

        <div class="form-wrapper" [@.disabled]="!animationsEnabled">
            <div class="form" *ngIf="isLogin" @slideLeftRight @expandCollapse>
                <!-- Login form -->
                <form [formGroup]="form" (ngSubmit)="submit()">
                    <mat-form-field appearance="fill">
                        <mat-label>Username</mat-label>
                        <input matInput formControlName="username" autocomplete="username">
                        @if (form.get('username')?.hasError('required')) {
                        <mat-error>Username is required</mat-error>
                        } @else if (form.get('username')?.hasError('minlength')) {
                        <mat-error>Username must be at least 3 characters long</mat-error>
                        } @else if (form.get('username')?.hasError('maxlength')) {
                        <mat-error>Username cannot exceed 20 characters</mat-error>
                        } @else if (form.get('username')?.hasError('pattern')) {
                        <mat-error>Invalid characters</mat-error>
                        }
                    </mat-form-field>

                    <app-password [autocomplete]="'current-password'" [control]="passwordControlLogin">
                        <span label>Password</span>
                        @if (form.get('password')?.hasError('required')) {
                        <span error>Password is required</span>
                        } @else if (form.get('password')?.hasError('maxlength')) {
                        <span error>Password cannot exceed 20 characters</span>
                        } @else if (form.get('password')?.hasError('invalidLogin')) {
                        <span error>Invalid username or password</span>
                        }
                    </app-password>

                    <button type="submit" style="display: none;"></button>
                </form>
            </div>

            <div class="form" *ngIf="!isLogin" @slideRightLeft @expandCollapse>
                <!-- Sign Up form -->
                <form [formGroup]="signupForm" (ngSubmit)="submit()">
                    <mat-form-field appearance="fill">
                        <mat-label>Username</mat-label>
                        <input matInput formControlName="username" autocomplete="username">
                        @if (signupForm.get('username')?.hasError('required')) {
                        <mat-error>Username is required</mat-error>
                        } @else if (signupForm.get('username')?.hasError('minlength')) {
                        <mat-error>Username must be at least 3 characters long</mat-error>
                        } @else if (signupForm.get('username')?.hasError('maxlength')) {
                        <mat-error>Username cannot exceed 20 characters</mat-error>
                        } @else if (signupForm.get('username')?.hasError('pattern')) {
                        <mat-error>Invalid characters</mat-error>
                        } @else if (signupForm.get('username')?.hasError('taken')) {
                        <mat-error>Username is already taken</mat-error>
                        }
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" autocomplete="email">
                        @if (signupForm.get('email')?.hasError('required')) {
                        <mat-error>Email is required</mat-error>
                        } @else if (signupForm.get('email')?.hasError('email')) {
                        <mat-error>Invalid email</mat-error>
                        } @else if (signupForm.get('email')?.hasError('maxlength')) {
                        <mat-error>Email cannot exceed 50 characters</mat-error>
                        } @else if (signupForm.get('email')?.hasError('taken')) {
                        <mat-error>Email is already taken</mat-error>
                        }
                    </mat-form-field>

                    <app-password [autocomplete]="'new-password'" [control]="passwordControlSignUp">
                        <span label>Password</span>
                        @if (signupForm.get('password')?.hasError('required')) {
                        <span error>Password is required</span>
                        } @else if (signupForm.get('password')?.hasError('minlength')) {
                        <span error>Password must be at least 6 characters long</span>
                        } @else if (signupForm.get('password')?.hasError('maxlength')) {
                        <span error>Password cannot exceed 20 characters</span>
                        }
                    </app-password>

                    <app-password [autocomplete]="'new-password'" [control]="confirmPasswordControlSignUp">
                        <span label>Confirm Password</span>
                        @if (signupForm.get('confirmPassword')?.hasError('required')) {
                        <span error>Password confirmation is required</span>
                        } @else if (signupForm.get('confirmPassword')?.hasError('mismatch')) {
                        <span error>Passwords do not match</span>
                        }
                    </app-password>

                    <button type="submit" style="display: none;"></button>
                </form>
            </div>
        </div>
        <div mat-dialog-actions align="end" class="dialog-actions">
            <button mat-button mat-dialog-close type="button" [disabled]="loading">Cancel</button>
            <app-loading-button [loading]="loading" [disabled]="isLogin ? form.invalid : signupForm.invalid"
                variant="stroked" (buttonClicked)="submit()">{{ isLogin ? 'Login' : 'Sign up' }}</app-loading-button>
        </div>
    </div>
</div>