:host {
    position: relative;
    display: block;

    .demo-info {
        right: 100%;

        display: flex;
        flex-direction: column;

        &.demo-info-inside {
            transform: translateX(100%);
        }
    }

    .demo-pause {
        left: 100%;

        &.demo-pause-inside {
            transform: translateX(-100%);
        }
    }

    .demo-info,
    .demo-pause {
        position: absolute;
        bottom: 0;

        border-radius: 50%;

        transition: transform 0.3s ease-in-out;

        &::ng-deep mat-icon {
            border-radius: 50%;

            transition: background-color 0.3s ease-in-out
        }

        &.demo-info-inside ::ng-deep mat-icon {
            background-color: var(--mat-sys-surface);
        }
    }
}