@import "tailwindcss";

@import "styles/roboto.scss";
@import "styles/material-icons.scss";

:root {
    --cookies-height: 50px;
    --cookie-transition: padding-bottom 0.3s ease-in-out;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body.is-transitioning {
    pointer-events: none;
    user-select: none;

    *,
    *:before,
    *:after {
        transition:
            all 0.3s ease !important;
    }
}

.select-panel-no-scroll {
    max-height: 90vh !important;
}


.dialog-wrapper {
    padding: 25px;
    max-height: calc(100vh - 50px);
    overflow: hidden;
    display: flex;
}

.dialog-inner {
    overflow: auto;
    width: 100%;
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dialog-content {
    padding-bottom: 24px !important;
}

.dialog-actions {
    gap: 5px;
}

.divider-gutter {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.fade-stack {
    position: relative;
    height: 100%;
}

.fade-item {
    position: absolute;
    inset: 0;
}