@use '@angular/material' as mat;


@use "tailwindcss";

@use "styles/roboto.scss";
@use "styles/material-icons.scss";


@include mat.core();

body.theme-rose-red {
  @include mat.theme((
    color: (
      primary: mat.$rose-palette,
      tertiary: mat.$red-palette,
      theme-type: light,
    ),
    typography: Roboto,
    density: 0
  ));
}

body.theme-azure-blue {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
      theme-type: light,
    ),
    typography: Roboto,
    density: 0
  ));
}

body.theme-cyan-orange {
  @include mat.theme((
    color: (
      primary: mat.$cyan-palette,
      tertiary: mat.$orange-palette,
      theme-type: dark,
    ),
    typography: Roboto,
    density: 0
  ));
}

body.theme-magenta-violet {
  @include mat.theme((
    color: (
      primary: mat.$magenta-palette,
      tertiary: mat.$violet-palette,
      theme-type: dark,
    ),
    typography: Roboto,
    density: 0
  ));
}

:root {
    --cookies-height: 50px;
    --cookie-transition: padding-bottom 0.3s ease-in-out;
}

.piece-svg svg {
    width: 100%;
    height: 100%;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;

    --top-inset: 0;
    --bottom-inset: 0;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body.is-transitioning {
    pointer-events: none;
    user-select: none;

    *,
    *:before,
    *:after {
        transition:
            all 0.3s ease !important;
    }
}

.select-panel-no-scroll {
    max-height: 90vh !important;
}

.logo {
    aspect-ratio: 1;
    height: 2rem;
}

.dialog-wrapper {
    padding: 25px;
    max-height: calc(100vh - 50px);
    overflow: hidden;
    display: flex;
}

.dialog-inner {
    overflow: auto;
    width: 100%;
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dialog-content {
    padding-bottom: 24px !important;
}

.dialog-actions {
    gap: 5px;
}

.mat-divider.divider-gutter {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mat-divider.divider-gutter.no-top {
    margin-top: 0;
    margin-bottom: 10px;
}

.fade-stack {
    position: relative;
    height: 100%;
}

.fade-item {
    position: absolute;
    inset: 0;
}

.mat-mdc-nav-list .mat-mdc-list-item.no-radius-left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}