:host {
    width: 100%;
    max-width: 100%;
    position: relative;
    height: 100%;
    flex-grow: 1;
    margin-left: auto;
    pointer-events: none;
    display: flex;
    flex-direction: column;
}

.moveHistoryWrapper {
    width: 100%;
    max-width: 100%;
    position: relative;
    height: 100%;
    flex-grow: 1;
    margin-left: auto;
    pointer-events: all;
    overflow-x: auto;
    display: flex;
    flex-direction: row;

    scroll-padding-left: 185px;
    scroll-padding-right: 3px;

    scroll-padding-bottom: 45px;
    scroll-padding-top: 5px;
}

.moveHistoryWrapper.stacked {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.moveHistoryButtonWrapper {
    margin-right: auto;
    position: sticky;
    left: 0;
    bottom: 0;
    padding-right: 8px;
    background-color: var(--mat-sys-background);
}

.stacked .moveHistoryButtonWrapper {
    margin-left: auto;
    margin-right: 0;
    padding-right: 0;
    padding-bottom: 4px;
}

.move-history-container {
    display: flex;
    flex-direction: row;
    gap: 0.1em;
    align-items: center;
    margin: 0.4em 0;
}

.stacked {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: fit-content;
    margin: 0;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    margin-left: 0.5em;
}

.stacked .move-history-container {
    flex-direction: column;
    gap: 0.05em;
    align-items: stretch;
    width: 100%;
}

.move-pair {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.1em 0.1em;
    border-radius: 3px;
    gap: 0.2em;
    justify-content: flex-end;
}

.move,
.moveBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.2em 0.4em;
    background-color: var(--mat-sys-primary-container);
    border-radius: 3px;
    user-select: none;
    cursor: pointer;
    white-space: nowrap;
    flex-basis: 40%;

    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;

    &:hover,
    &:focus {
        background-color: var(--mat-sys-on-primary-container);
        color: var(--mat-sys-on-primary);
    }

    &.highlight {
        background-color: var(--mat-sys-primary);
        color: var(--mat-sys-on-primary);
    }
}

.moveBtn {
    margin: 0.5em 0.0em;
    background-color: var(--mat-sys-secondary-container);
}

.stacked .moveBtn {
    margin: 0;
}

.move-number {
    flex-basis: 20%;
}