.svgWrapperOuter {
    --color: 150;
    cursor: pointer;
    background: linear-gradient(130deg, rgba(var(--color), var(--color), var(--color), 0.7), rgba(var(--color), var(--color), var(--color), 0.4), rgba(var(--color), var(--color), var(--color), 0.7));
    border-radius: 10px;
    padding: 0.4rem;
    width: 55px;
}

.svgWrapper {
    position: relative;
}

.svgClean {
    border: 3px solid white;
    transition: border-color 0.3s ease;
}

.svg {
    inset: 0;
    border: 3px solid transparent;
    position: absolute;
}

.svgWrapper .svg {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.svgWrapperOuter:hover .svg {
    opacity: 1;
}